

/**** ADD YOUR STYLES ****/


/****************/
/*   BAR-CHART  */
/****************/

body{
  margin-left: 20px;
}
.row{
  /*font-family: Gill Sans, Verdana;*/
  font-family: cursive;
}

h1{
  font-size: 24px;
  text-align: center;
  color: #666666;
}

.bar {
  fill: #3C948B;
}

.bar:hover {
  fill: #327972;
}

.axis {
  font-size: 11px;
  stroke-width: 2px;
  fill: #666666;

}

.axis line {
  fill: none;
  stroke:#666666;
  shape-rendering: crispEdges;
}
.domain {
  fill: none;
  stroke: #666666;
  shape-rendering: crispEdges;
}

#map-map{
  fill: none;
}

.area{
  stroke:#999967;
  stroke-width: 2px;

}
#map-map text {
  font-size: 11px;
  fill:#666666;
}

.axis-label {
  fill: #888;
  font-size: 10px;
}

.textlabel{
  fill:  #8B907C;
}

.back{
  background-color: transparent;
  z-index: -1;
}